#home-students {
  height: 60vh;
  .search-user {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    gap: 60px;
    width: 1000px;
    height: 150px;
    background: hsl(0, 17%, 95%);
    @include flex-center;
    border-radius: 10px;
  }
  input {
    border: 2px solid grey;
    border-radius: 5px;
    width: 370px;
    height: 40px;
  }
}

.students-list {
  @include flex-center;
  flex-wrap: wrap;
  gap: 45px;
  margin-left: 8rem;
  margin-right: 8rem;
  .student {
    background: $light-color;
    width: 340px;
    height: 230px;
    position: relative;
    border: 1px solid grey;
    box-shadow: rgba(160, 156, 156, 0.09) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(160, 156, 156, 0.09) 0px 8px 4px,
      rgba(160, 156, 156, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    .student-image {
      width: 100px;
      height: 100px;
      position: relative;
      left: 50%;
      top: 10px;

      transform: translateX(-50%);
    }
    img {
      border-radius: 50%;
      border: 1px solid hsl(0, 0%, 13%);
      width: 100%;
      height: 100%;
      position: absolute;
    }
    button {
      position: absolute;
      left: 50%;
      top: 85%;
      transform: translate(-50%, -50%);
      color: hsl(11, 90%, 44%);
      background: hsl(0, 0%, 100%);
      padding: 5px 10px;
      border: 1px solid hsl(11, 90%, 44%);
      transition: 0.4s ease-out;
      &:hover {
        background: hsl(11, 90%, 44%);
        color: hsl(0, 0%, 13%);
      }
    }
    .student-content {
      color: #222;
      font-family: "Ddinbold";
      position: absolute;
      left: 50%;
      top: 63%;
      font-size: 14px;
      transform: translate(-50%, -50%);
      @include flex-center;
      flex-direction: column;
    }
  }
}
