$loading-colors: hsl(183, 100%, 75%), hsl(199, 77%, 74%), hsl(207, 44%, 49%),
  hsl(216, 85%, 39%), hsl(240, 100%, 25%), hsl(300, 82%, 31%),
  hsl(298, 74%, 44%);
$cursor-point-color: rgb(92, 83, 83);
$border-scroll: 2px;
$dark-color: hsl(0, 0%, 13%);
$light-color: hsl(0, 0%, 98%);
$nav-height: 140px;
